<!DOCTYPE html>
{% include 'hr_app/nav.html' %}
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/style1.css' %}"> <!-- Link to your CSS file -->
    
</head>
<body>
    &nbsp;

<!-- <h1>THIS IS HOME PAGE</h1> -->

<!-- <img class="ven" src="{% static 'images/_DSC7431.jpg' %}" alt=""> -->
<!-- <div class="banner">
<img class="banner-image" src="{% static 'images/msr.jpg' %}" alt="Banner Image" > 
</div>
<div class="banner">
    <img class="banner-image" src="{% static 'images/msr1.jpg' %}" alt="Banner Image" > 
    </div> -->
<div class="banner">
    <img class="banner-image" src="{% static 'images/M.jpg' %}" alt="Banner Image" > 
    <!-- <video autoplay loop muted playsinline class="banner-video">
        <source src="{% static 'videos/Venkatesh Maragani.mp4' %}" type="video/mp4">
        Add additional source elements for other formats if needed
        Your browser does not support the video tag.
    </video> -->
</div>
&nbsp;
&nbsp;
&nbsp;

<div >
<h2 class="h2">WELCOME TO MSRCOSMOS GROUP</h2>
<div >
    <p class="p3" >MSRcosmos is a fast-growing global IT services company with unmatched capabilities across the service value chain of cloud,
        data analytics & ai, intelligent automation including enterprise applications. “Promise delivered” is our brand proposition, 
        orchestrated via staunch delivery commitments, pathbreaking solutions, highly differentiated talent, and a methodical approach.
         This belief has enabled MSRcosmos to be a preferred partner of choice for many customers across diverse industries
          in USA, Europe, India, and Australia.</p>
</div>
<!-- <h2 class="h2">WHY TO CHOOSE US?</h2>
<div class="banner1">
<img class="image" src="{% static 'images/1.webp' %}" alt="1">
<img class="image" src="{% static 'images/2.webp' %}" alt="2">
<img class="image" src="{% static 'images/3.webp' %}" alt="3">
<img class="image" src="{% static 'images/4.webp' %}" alt="4">
</div>
</div> -->

<!-- <div class="banner2">
   <div><p class="banner3">venkatesh maragani </p></div>
   <div><p class="banner3">venkatesh maragani</p></div>
   <div><p class="banner3">venkatesh maragani</p></div>
    <div><p class="banner3">venkatesh maragani</p></div> -->

<!-- </div> -->
</body>
&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;

<footer>
    <p>&copy; 2023 MSRCOSMOS GROUP</p>
</footer>
</html>
